body {
  font-family: "Manrope", sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul li {
  text-decoration: underline;
  text-decoration-color: whitesmoke;
  text-shadow: ffffff;
}
.intro {
  border: 5px;
  border-spacing: 40px;
  border-style: groove;
  border-left: 50px;
}

.myimage {
  border: 1px solid salmon;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-left: 0px;
  margin-top: auto;
}

.mydiscord {

}
.schoolmail {

}
.email{
  border: 1px solid salmon;
  border-radius: 5px;
}
.username{
  border: 1px solid salmon;

}